@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');


body{

  background: url("/Users/Guest/Desktop/pizza-shop/img/pizza.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: 2000px;
  font-family: 'Roboto', sans-serif;

}
.order-field {
  font-weight: bold;


}
.jumbotron{
  background-color: #701212;
  font-family: 'Shrikhand', cursive;
  color: white;
}

.well{
  background-color: white;
}
#order-total {
  display:none;
}
a {
  color: white;
}
